<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category id="default" label="31001">
		<setting label="Účet Voyo.cz" type="lsep"/>
		<setting id="username" type="text" label="E-mail" default=""/>
		<setting id="password" type="text" label="Heslo" option="hidden" default=""/>
		<setting id="accessToken" type="text" label="Access token" default="" visible="false"/>
		<setting id="deviceId" type="text" label="Device ID" default="" visible="false"/>
	</category>
</settings>